<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Regression Suite" parallel="methods" thread-count="2" verbose="1">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.framework.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Inventory Tests">
        <classes>
            <class name="com.framework.tests.InventoryTest"/>
        </classes>
    </test>

</suite>
